#site-header .main-navigation,
#site-footer .site-footer {
	margin: 0px;
}



.img-parallax {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: 100%;
	position: absolute;
	left: 50%;
	padding: 100%;
	width: 50%;
	float: left;
}

.img-parallax.img1 {
	background-image: url("../img/parallax/img-1.png");
}


.newyork {
	background: #f00;
	overflow: hidden;
	position: relative;
	padding: 0px 15px;
}

.newyork .contenido {
	width: 50%;
	float: left;
}

.projects {
	height: 500px;
}

/* Covers */

.cover img {
	width: 100%;
}

/* Templates */

.tpl img {
	width: 100%;
}

.tpl {
	padding-top: 30px;
	padding-bottom: 30px;
}

.tpl1 img {
	max-width: 415px;
}

.tpl1 .descr-content {
	display: table;
}

.tpl1 .descr-content > * {
	display: table-cell;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.tpl1 .img-content,
	.tpl1 .descr-content {
		text-align: center!important;
		margin-bottom: 30px;
	}
}

.tpl2 .descr-content {
	margin-bottom: 30px;
}

.tpl2 .img-content {
	margin-bottom: 40px;
}

/* Menú */

#main-menu {
    background: transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    border: 0px;
    margin-bottom: 0px;
    max-height: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
}

#main-menu .navbar-collapse {
	border-color: transparent;
}

#main-menu .navbar-collapse div > ul {
	padding: 0px;
    margin: 0px;
    display: inline-block;
    float: none;
    list-style: none;
}

#main-menu .navbar-collapse div > ul li {
	float: left;
	position: relative;
    display: block;
}

#main-menu .brand-name {
	padding: 12px 0px;
    font-size: 20px;
    transition: font-size .2s;
}

#main-menu .rrss {
	padding: 10px 0px!important;
}

#main-menu .rrss li {
	display: inline-block;
    margin: 0px 5px;
    border: 2px solid #999;
    border-radius: 50%;
    padding: 3px 5px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#main-menu .rrss li a {
	color: #999;
	font-size: 14px;
}

@media (max-width: 767px) {
	#main-menu {
		overflow: auto;
		max-height: inherit;
	}

	#main-menu .brand-name,
	#main-menu .menu {
		float: none!important;
	}

	#main-menu .brand-name {
		text-align: center;
	}

	#main-menu .navbar-collapse div > ul {
		display: block;
	}

	#main-menu .navbar-collapse div > ul li {
		float: none;
	}

	#main-menu .rrss {
		text-align: center;
	}

	#main-menu .rrss li {
		display: inline-block!important;
	}
}

/* Footer */

#site-footer {
	background: #fff;
	border: 0px;
	padding: 200px 15px 15px;
	color: #000;
}

#site-footer .rrss {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin-bottom: 50px;
}

#site-footer .rrss li {
	display: inline-block;
	margin: 0px 5px;
	border: 2px solid #999;
	border-radius: 50%;
	padding: 5px;
	width: 40px;
	height: 40px;

}

#site-footer .rrss li a {
	color: #999;
	font-size: 18px;
}