html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #999;
}

#site-header .main-navigation,
#site-footer .site-footer {
	margin: 0px;
}

a {
	text-decoration: none!important;
}

/* Covers */

.cover img {
	width: 100%;
}

/* Templates */

.tpl-bg-padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.tpl img {
	width: 100%;
}

.tpl p {
	line-height: 1.8em;
}

.tpl1 .descr-content {
	margin-bottom: 60px;
}

.tpl1.side img {
	max-width: 415px;
}

.tpl1.side .descr-content {
	display: table;
	margin-bottom: 0px;
}

.tpl1.side .descr-content > * {
	display: table-cell;
	vertical-align: middle;
}

@media (max-width: 767px) {
	.tpl1.side .img-content,
	.tpl1.side .descr-content {
		text-align: center!important;
		margin-bottom: 30px;
	}
}

.tpl2 .descr-content {
	margin-bottom: 60px;
}

.tpl2 .descr-content p {
	margin: auto;
	max-width: 767px;
}

.tpl2 .img-content {
	margin-bottom: 40px;
}

.tpl2 .img-content.without-padding {
	padding: 0px;
	margin: 0px;
}

.tpl4 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.tpl.fullsize {
	width: 100%;
}

.tpl.fullsize .row {
	margin-left: 0px;
	margin-right: 0px;
}

/* Menú */

#main-menu {
    background: transparent;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    border: 0px;
    margin-bottom: 0px;
    max-height: 70px;
    height: 70px;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0px;
    transition: top .5s, max-height .5s;
    background: #fff;
    transition: box-shadow .3s;
}

#main-menu.fixed {
	top: 0px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
}

#main-menu a {
	color: #999;
}

#main-menu .navbar-collapse {
	border-color: transparent;
}

#main-menu .navbar-collapse div > ul {
	padding: 0px;
    margin: 0px;
    display: inline-block;
    float: none;
    list-style: none;
}

#main-menu .navbar-collapse div > ul li {
	float: left;
	position: relative;
    display: block;
}

#main-menu .navbar-collapse div > ul li a {
	background: transparent!important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#main-menu .brand-name {
	padding: 15px 0px;
	font-size: 28px;
}

#main-menu .brand-name-mobile {
    padding: 8px 25px;
    font-size: 24px;
    text-transform: uppercase;
}

#main-menu .menu {
	padding: 7.5px 0px;	
}

#main-menu .rrss {
	padding: 10px 0px!important;
}

#main-menu .rrss li {
	display: inline-block;
    margin: 0px 5px;
    border: 2px solid #999;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    transition: border-color .3s;
}

#main-menu .rrss li a {
	color: #999;
	font-size: 18px;
	transition: color .3s;
}

#main-menu .rrss li:hover {
	border-color: #000;
}
#main-menu .rrss li:hover a {
	color: #000;
}

#content {
	margin-top: 70px;
}

@media (max-width: 767px) {
	#main-menu {
		overflow: auto;
		max-height: inherit!important;
		height: auto!important;
		top: 0px!important;
		background: #fff;
		box-shadow: 0px 0px 4px #000;
	}

	#main-menu .brand-name,
	#main-menu .menu {
		float: none!important;
	}

	#main-menu .brand-name {
		text-align: center;
	}

	#main-menu .navbar-collapse div > ul {
		display: block;
	}

	#main-menu .navbar-collapse div > ul li {
		float: none;
	}

	#main-menu .rrss {
		text-align: center;
	}

	#main-menu .rrss li {
		display: inline-block!important;
	}

	#content {
		margin-top: 50px;
	}
}

/* Home */

.home-cover {
	position: relative;
	max-height: 500px;
	overflow: hidden;
	text-align: center;
	background: #fde03e;
	margin-bottom: 80px;
}

.home-cover div.cover {
	background: url(../img/home-cover.png);
	background-attachment: fixed;
    background-position: center 115px;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    position: relative;
    margin: auto;
}

.home-cover div.cover:before {
	content: '';
	display: block;
	padding-top: 61%;
}

@media (max-width: 767px) {
	.home-cover div.cover {
		background-size: 85%;
		background-position: center 75px;
	}
}

.home-cover img.wave {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 666;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.home-cover div.wave {
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 666;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url(../img/wave-1920.png);
	background-size: contain;
}

.home-cover div.wave:before {
	padding-top: 3%;
	content: '';
	display: block;
}

.projects {
	padding: 0px 15px;
}

.projects .intro {
	margin: 0px -15px;
}

.projects .list-projects {
	margin-top: 100px;
	width: 100%;
}

.projects .list-projects ul {
	padding-left: 0px;
	list-style: none;
}

.projects .list-projects ul li {
	margin-top: 100px;
	transition: margin-top .7s, opacity .7s;
	opacity: 0;
	padding: 0px;
}

.projects .list-projects ul li.show {
	margin-top: 0px;
	opacity: 1;
}

@media (max-width: 767px) {
	.home-cover {
		margin-bottom: 30px;
	}

	.projects .list-projects {
		margin-top: 30px;
	}
}

/* Single Project */

.single .container {
	max-width: 767px;
}

.single .cover {
	max-height: 500px;
	overflow: hidden;
	position: relative;
}

.single .cover .bg {
	width: 100%;
	position: relative;
}

.single .cover .bg:before {
	display: block;
	content: '';
	padding-top: 39.0625%;
}

.single .cover img {
	position: fixed;
    top: 70px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 90%;
}

.single .template-project-container {
	background: #fff;
	position: relative;
	padding: 0.1px 0px;
}

.single .link-to-another-site {
	padding: 15px;
	border-radius: 5px;
	border: 2px solid #999;
	color: #999;
	font-size: 18px;
	font-weight: normal;
	min-width: 200px;
	display: inline-block;
	margin-top: 50px;
}

.single iframe,
.single .embed-fb-video * {
	width: 100%!important;
	height: auto;
	max-width: 600px;
	margin: auto;
	display: block;
}

/* More Projects */

#more-projects header {
	margin: 40px auto;
}

#more-projects header h2 {
	font-size: 18px;
	font-weight: 300;
}

#more-projects ul {
	padding: 0px 15px;
	margin: 0px;
	list-style: none;
}

#more-projects ul li {
	padding: 0px;
	transition: margin-left .3s;
}

@media (max-width: 767px) {
	#more-projects .wrapper {
		position: relative;
		overflow: hidden;
	}

	#more-projects .wrapper ul {
		position: absolute;
		left: 0px;
		width: 100%;
	}

	#more-projects .wrapper ul li {
		margin-right: 15px;
	}
}

/* About */

#about {
	margin-top: 150px;
}

#about .text {
	margin-bottom: 50px;
}

@media (max-width: 767px) {
	#about .text {
		text-align: center!important;
	}
}

/* Footer */

#site-footer {
	background: #fff;
	border: 0px;
	padding: 100px 0px 10px;
	position: relative;
}

#site-footer .rrss {
	list-style: none;
	text-align: center;
	padding: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#site-footer .rrss li {
	display: inline-block;
	margin: 0px 5px;
	border: 2px solid #999;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: border-color .3s;
	text-align: center;
}

#site-footer .rrss li a {
	color: #999;
	font-size: 22px;
	display: block;
	height: 100%;
	transition: color .3s;
}

#site-footer .rrss li a i {
	vertical-align: middle;
}

#site-footer .rrss li:hover {
	border-color: #000;
}

#site-footer .rrss li:hover a {
	color: #000;
}

#site-footer .download-portfolio {
	margin-bottom: 50px;
}

#site-footer .download-portfolio a {
	color: #999;
	font-size: 18px;
	transition: color .3s;
}

#site-footer .download-portfolio a:hover {
	color: #3e3e3e;
}

@media (max-width: 767px) {
	#site-footer {
		padding-top: 50px;
	}
}

/* Skills */

ul.skills {
	padding-left: 0px;
	text-align: center;
}

ul.skills li {
	display: inline-block;
	margin: 0px 5px;
	font-size: 18px;
}

ul.skills li.bullet:after {
	display: inline-block;
	content: '';
	border-radius: 50%;
	background: #999;
	height: 5px;
	width: 5px;
	vertical-align: middle;
    margin-top: -3px;
    margin-left: 12px;
}

@media (max-width: 767px) {
	ul.skills li {
		font-size: 12px;
	}
}

@media (max-width: 430px) {
	ul.skills li {
		font-size: 9px;
	}	
}

/* Home and more projects */

.cover-project {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.cover-project:before {
	padding-top: 61.26%;
	content: '';
	display: block;
}

.cover-project img {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0px;
	top: 0px;
	margin: auto;
}

.cover-project .info {
	position: absolute;
    z-index: 555;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.7);
    transition: opacity .3s;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    padding-top: 10px;
    padding-left: 10px;
}

.cover-project .info p {
	border-left: 2px solid #fff;
	padding-top: 3px;
	padding-bottom: 3px;
}

.cover-project .info p span {
	display: block;
	margin: 0px 10px;
	font-weight: bold;
}

.cover-project .info p .subtitle {
	font-size: 14px;
	font-weight: 300;
}

.cover-project:hover .info {
	opacity: 1;
}