.tpl {
	border-bottom: 2px solid #e3e3e3;
	padding: 20px 0px;
}

.tpl header {
	overflow: hidden;
	margin-bottom: 20px;
}

.tpl header h1 {
	float: left;
}

.tpl header .tpl-delete {
	float: right;
	margin-top: 10px;
}

.tpl textarea {
	display: block;
	margin: 15px 0px;
}

.tpl input[type="text"] {
	width: 100%;
	padding: 5px 15px;
	border-radius: 5px;
}

.tpl .margenes,
.tpl .checkbox-container,
.tpl .radio-container,
.tpl .color-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tpl .margenes span {
	display: inline-block;
	min-width: 100px;
}

.tpl .margenes input {
	width: 100px;
	border-radius: 5px;
	padding: 5px 5px;
	margin-right: 3px;
}


.tpl-add-image {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tpl img {
	width: 100%;
	line-height: 0px;
}

.tpl-img-box {
	max-width: 100px;
	position: relative;
	display: inline-block;
}

.tpl .color-container .pattern-container {
	margin-top: 20px;
}

.tpl .tpl-pattern-box {
	width: 50px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.tpl-img-box .remove-img,
.tpl-pattern-box .remove-img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	text-align: center;
	display: none;
}

.tpl-img-box .remove-img a {
    display: block;
    color: #fff;
}

.tpl-img-box:hover .remove-img,
.tpl-pattern-box:hover .remove-img {
	display: block;
}

.tpl-img-box.new:hover .remove-img,
.tpl-pattern-box.new:hover .remove-img {
	display: none;
}

.tpl-img-box .remove-img img,
.tpl-pattern-box .remove-img img {
	width: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}