#select-tpl-container {
	margin-top: 20px;
}

.tpl {
	border: 2px solid #e3e3e3;
	padding: 0px 15px 20px;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 10px;
}

.tpl header {
	overflow: hidden;
	margin-bottom: 20px;
	min-height: 50px;
	margin-left: -15px;
	margin-right: -15px;
	border-bottom: 2px solid #e3e3e3;
	padding: 0px 15px;
	background: #0085ba;
}

.tpl header h1 {
	color: #fff;
	float: left;
}

.tpl header .show {
	float: right;
	margin-top: 10px;
	width: 30px;
	height: 30px;
}

.tpl header .show .indicator {
	background: url(../img/minus.png);
	width: 15px;
	height: 15px;
	background-size: 100%;
}

.tpl.closed {
	height: 50px;
}

.tpl.closed header .show .indicator {
	background: url(../img/plus.png);
	width: 15px;
	height: 15px;
	background-size: 100%;
}

.tpl textarea {
	display: block;
	margin: 15px 0px;
}

.tpl input[type="text"] {
	width: 100%;
	padding: 5px 15px;
	border-radius: 5px;
}

.tpl .margenes,
.tpl .checkbox-container,
.tpl .radio-container,
.tpl .color-container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.tpl .radio-container p {
	font-weight: bold;
}

.tpl .margenes span {
	display: inline-block;
	min-width: 100px;
}

.tpl .margenes input {
	width: 100px;
	border-radius: 5px;
	padding: 5px 5px;
	margin-right: 3px;
}


.tpl-add-image {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.tpl img {
	width: 100%;
	line-height: 0px;
}

.tpl-img-box {
	max-width: 100px;
	position: relative;
	display: inline-block;
}

.tpl .color-container .pattern-container {
	margin-top: 20px;
}

.tpl .tpl-pattern-box {
	width: 50px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
}

.tpl-img-box .remove-img,
.tpl-pattern-box .remove-img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	text-align: center;
	display: none;
}

.tpl-img-box .remove-img a {
    display: block;
    color: #fff;
}

.tpl-img-box:hover .remove-img,
.tpl-pattern-box:hover .remove-img {
	display: block;
}

.tpl-img-box.new:hover .remove-img,
.tpl-pattern-box.new:hover .remove-img {
	display: none;
}

.tpl-img-box .remove-img img,
.tpl-pattern-box .remove-img img {
	width: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.delete-tpl-container {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.delete-tpl-container .button-danger {
	background: #D30F15;
	color: #fff;
	border-color: #B20A0F;
}

.delete-tpl-container .button-danger:hover {
	background: #780509;
	color: #fff;
	border-color: #4B0306;	
}